{% extends 'base.html.twig' %}

{% block title %}CCM - Dashboard{% endblock %}

{% block css %}
    {{ parent() }}
    <!-- Bootstrap Core CSS -->
{% endblock %}

{% block sidebar %}

    <li>
        <a href="{{ path('dashboard') }}"><i class="fa fa-dashboard fa-fw"></i> Inicio</a>
    </li>

    <li>
        <a href="#"><i class="fa fa-calendar fa-fw"></i> Años anteriores<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="{{ path('consulta',{'anio':2017})}} "> <i class="fa fa-calendar fa-fw"></i> 2017 </a>
            </li>
            <li>
                <a href="{{ path('consulta',{'anio':2016})}} "> <i class="fa fa-calendar fa-fw"></i> 2016 </a>
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>


{% endblock %}

{% block wrapper %}


    <div class="row">
        <div class="col-lg-12">
            <p></p>
            <br>
            {#                <h1 class="page-header">Solicitudes </h1>#}
        </div>
    </div>

    <div class="row">
    <div class="col-lg-6 col-md-6">

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">


            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <i class="fa fa-calendar-o" aria-hidden="true"></i> Informe de actividades y plan de trabajo {{ informe.anio }}
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 ">
                                <dl>
                                    {% if informe|length == 0 %}
                                        <dt><i class="fa fa-plus fa-3x" aria-hidden="true"></i></dt>
                                        <dd>No existe informe  {{ informe.anio }}</dd>
                                    {% else %}
                                        {% if informe.dictamen %}
                                            <dd>Dictamen: <strong> {{ informe.dictamen }}</strong></dd>
                                        {% endif %}
                                        {% if informe.observaciones %}
                                            <dd>Observaciones: {{ informe.observaciones }}</dd>
                                        {% endif %}
                                        {% if informe.enviado %}
                                            <dd>Enviado el {{ informe.modified|date }}</dd>
                                        {% endif %}

                                    {% endif %}

                                </dl>
                            </div>

                            <div class="col-lg-4 col-md-4 text-center">
                                <dl>
                                    <dt><i class="fa fa-print fa-3x" aria-hidden="true"></i></dt>
                                    <dd> <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal">Vista previa    </button> </dd>
                                </dl>
                            </div>

                            <div class="col-lg-4 col-md-4 text-center">
                                <dl>
                                    <dt><i class="fa fa-file-pdf-o fa-3x" aria-hidden="true"></i></dt>
                                    <dd><a href="{{ path('informe_pdftecnico',{'anio':informe.anio}) }} "> <h5>Descargar</h5></a></dd>
                                </dl>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>

    <!-- Modal informe -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Vista previa Informe {{ informe.anio }}</h4>
                </div>
                <div class="modal-body">
                    <div class="row page-header">
                        <div class="col-xs-6">
                            <h3>Informe {{ informe.anio }}</h3>
                            <p> <strong>Académico:</strong> {{ academico.nombre }} {{ academico.apellido }}</p>
                        </div>
                        <div class="col-xs-6">
                            <p class="text-right"><img class="right" src="{{ asset('img/ccm.png', absolute=true) }}" width="180px" height="60px" /></p>
                        </div>
                    </div>

                    <div class="container-fluid">

                        {{ informeAnual|nl2br }}<br>
                        <br>
                       <strong><h3>Plan de trabajo {{ informe.anio + 1 }}</h3></strong>
                        <hr>
                        {{ plan|nl2br }}

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal informe -->
    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Vista previa</h4>
                </div>
                <div class="panel-body">
                    {% if plan is defined %}

                        {{ plan|nl2br }}

                    {% else %}
                        <p class="text-danger"> No se ha creado el plan de trabajo.</p>

                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>



{% endblock %}